In [1]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [5]:
df["last"] == "Doe"

0    False
1     True
2     True
Name: last, dtype: bool

In [6]:
filt = (df["last"] == "Doe")

In [7]:
df[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [8]:
df.loc[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [9]:
df.loc[filt, "email"]

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [10]:
filt2 = (df["last"] == "Doe") & (df["first"] == "John")

In [11]:
df.loc[filt2, "email"]

2    JohnDoe@email.com
Name: email, dtype: object

In [13]:
filt3 = (df["last"] == "Schafer") | (df["first"] == "John")

In [14]:
df.loc[filt3, "email"]

0    CoreyMSchafer@gmail.com
2          JohnDoe@email.com
Name: email, dtype: object